.container{
    width: auto;
    height: auto;
    padding: 30%;
    font-size: large;
    background-color: black;
    text-align: center;
    color: white;
}

.bt-class{
    width: auto;
    padding: 5%;
    text-align: center;
    font-size: small;
}